/* Custom CSS for Nav Bar, taken from http://smarchal.com/twbscolor/?bd=e74c3c&bh=c0392b&cd=ecf0f1&ch=ffbbbc */
/* Used for the navigation bar at the top of the webpages */

.navbar {
	background-color: #efefef;
	border-color: #efefef;
}
.navbar .navbar-brand {
	color: gray;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: black;
}
.navbar .navbar-text {
	color: gray;
}
.navbar .navbar-nav > li > a {
	color: gray;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
	color: black;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
	color: black;
	background-color: #efefef;
}
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
	color: black;
	background-color: #efefef;
}
.navbar .navbar-toggle {
	border-color: #efefef;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background-color: #efefef;
}
.navbar .navbar-toggle .icon-bar {
	background-color: gray;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
	border-color: gray;
}
.navbar .navbar-link {
	color: gray;
}
.navbar .navbar-link:hover {
	color: black;
}

@media (max-width: 767px) {
	.navbar .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
		color: black;
	}
	.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: black;
		background-color: #efefef;
	}
}
